.fr-icon--custom-molecule::before,
.fr-icon--custom-molecule::after {
    mask-image:url('molecule.svg')
}

.fr-icon--custom-box::before,
.fr-icon--custom-box::after {
    mask-image:url('box.svg')
}

.fr-icon--custom-pill::before,
.fr-icon--custom-pill::after {
    mask-image:url('pill.svg')
}
