:root {
    --purple-glycine-850-200-hover: #f983f1; /* This is in DSFR documentation but not in CSS */
    --purple-glycine-850-200-active: #f767ef; /* This is in DSFR documentation but not in CSS */
}

:root[data-fr-theme=dark] {
    --purple-glycine-850-200-hover: #855080; /* This is in DSFR documentation but not in CSS */
    --purple-glycine-850-200-active: #a1629c; /* This is in DSFR documentation but not in CSS */
}

a.fr-tag--custom-alt-class, button.fr-tag--custom-alt-class {
    color: var(--text-default-grey);
    background-color: var(--purple-glycine-850-200);
    --hover: var(--purple-glycine-850-200-hover);
    --active: var(--purple-glycine-850-200-active);
}

a.fr-tag--custom-alt-substance, button.fr-tag--custom-alt-substance {
    color: var(--text-default-grey);
    background-color: var(--purple-glycine-950-100);
    --hover: var(--purple-glycine-950-100-hover);
    --active: var(--purple-glycine-950-100-active);
}